
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Open+Sans:wght@600;700&display=swap');*{
  margin: 0;
  padding: 0;
} 
*{
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(251, 247, 242);
}
#headingg{ 
  font-weight: bold;
}
.content{
  height: 100vh;
}
#navbarNav{
justify-content: end;
}
.link{
  margin-right: 2rem !important;
}
.link:hover{
color:rgb(0, 153, 255)!important;
}

.projects{
  text-align: center;
}
.nav-item{
  cursor: pointer;
}
 img{
  width: 99%;
  object-fit: cover;
} 

